
    <div class="nav" fxLayout="row" fxLayoutAlign="center center">
        <div class="nav-title">Ustawienia gry</div>
    </div>
    <div fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="space-evenly center">
            <div>
                <div class="team-header">Zespół 1</div>
                <div class="team-holder">
                    <mat-list>
                        <button class="player" mat-stroked-button *ngFor="let member of team1" (click)="moveFrom1To2(member)">
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <div> {{member}} </div> 
                                <mat-icon fxLayoutAlign="center center" class="player-icon" fontIcon="arrow_forward"></mat-icon>
                            </div>
                        </button>
                    </mat-list>
                </div>
            </div>

            <div>
                <div class="team-header">Zespół 2</div>
                <div class="team-holder">
                    <mat-list>
                        <button class="player" mat-stroked-button *ngFor="let member of team2" (click)="moveFrom2To1(member)">
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <mat-icon fxLayoutAlign="center center" class="player-icon" fontIcon="arrow_back"></mat-icon>
                                <div> {{member}} </div> 
                            </div>
                        </button>
                    </mat-list>
                </div>
            </div>
        </div>

        <div >
            <p class="setting-title">Czas pojedynczej tury: </p>
            <div fxLayout="row" fxLayoutAlign="space-evenly center">
                <button mat-raised-button (click)="subTime()">
                    <mat-icon fontIcon="horizontal_rule"></mat-icon>
                </button>
                <div>
                    {{timeForTurn | formatTime}}
                </div>
                <button mat-raised-button (click)="addTime()">
                    <mat-icon fontIcon="add"></mat-icon>
                </button>
            </div>
        </div>

        <div fxLayout="row"  fxLayoutAlign="center center">
            <div fxLayout="row" fxFlexFill fxLayoutAlign="space-evenly start">
                <div>
                    <p class="setting-title">Po spaleniu hasła: </p>
                        <mat-radio-group [(ngModel)]="messedCardStrategy" fxLayout="column center" >
                            <mat-radio-button class="radio-button" *ngFor="let option of messedCardOptions" [value]="option">
                                {{option}}
                            </mat-radio-button>
                        </mat-radio-group>
                </div>

                <div>
                    <p class="setting-title">Kto zaczyna rundę 1? </p>
                    <mat-radio-group [(ngModel)]="startStrategy" fxLayout="column center">
                        <mat-radio-button class="radio-button" *ngFor="let option of startOptions" [value]="option">
                            {{option}}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button (click)="startGame()">Rozpocznij grę</button>
        </div>
    </div>