.timer {
    margin-left: 30px;
    margin-right: 30px;
}

.team-holder {
    height: 200px;
    width: 130px;
    max-width: 100%;
    overflow: auto;
    border-bottom-left-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
}

.team-header {
    border-top-right-radius: 30px !important;
    border-top-left-radius: 30px !important;
    text-align: center;
}

.smaller-fab {
    width: 40px;
    height: 40px;
    line-height: 20px;
    font-size: 20px;

    &::ng-deep .mat-button-wrapper{
        line-height: 20px;
        padding: 0;

         .mat-icon {
             font-size: 20px;
             padding-right: 1px;
             padding-top: 5px;
         }
   }
}

.setting-title {
    text-align: center;
}

.radio-button {
    margin-bottom: 10px;
    // margin-left: auto; 
    // margin-right: auto;
}

.player {
    width: 100%
}

.player-icon {
    font-size: 14px
}