<div class="nav" fxLayout="row" fxLayoutAlign="center center">
    <div class="back-icon-wrapper" (click)="back()" >
        <mat-icon class="icon-default"  fontIcon="keyboard_arrow_left"></mat-icon>
    </div>
    <div>Dołączanie do gry</div>
</div>
<div fxLayout="column" fxFlexFill fxLayoutAlign="space-evenly center">
    <div fxFlex="70">
        <div fxLayout="column" fxFlexFill fxLayoutAlign="center center">
            <form [formGroup]="usernameForm">
                    <mat-form-field style="width:280px; text-align: center;">
                        <mat-label>Jak się nazywasz?</mat-label>
                        <input matInput placeholder="Podaj imię" formControlName="username" autocomplete="off">
                        <mat-error>
                            {{usernameValidationMessage}}
                        </mat-error>
                    </mat-form-field>
            </form>
        </div>
    </div>
    <div fxFlex="30">
        <button mat-raised-button color="primary" class="generic-button" [disabled]="!usernameForm.valid" (click)="saveUsername()">Dalej</button>
    </div>
</div>

<!-- <form [formGroup]="profileForm">

    <label for="first-name">First Name: </label>
    <input id="first-name" type="text" formControlName="firstName">
  
    <label for="last-name">Last Name: </label>
    <input id="last-name" type="text" formControlName="lastName">
  
  </form> -->