
    <div class="nav" fxLayout="row" fxLayoutAlign="center center">
        <div class="nav-title">Runda {{currentRound}}: {{roundNames[currentRound - 1]}}</div>
    </div>

    <div *ngIf="state == allStates.BEFORE_TURN" fxLayout="column" fxFlexFill >
        <div fxFlex="70" fxLayout="column" fxLayoutAlign="space-evenly center">
            <div fxLayout="column" fxLayoutAlign="start center">
                <div (click)="showTimeAdjustDialog()"> {{timeForTurn | formatTime}} </div>
                <mat-divider style="width: 100%"></mat-divider>
                <div>czas na turę </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="start center">
                <div>{{notesLeftInRound.length}} </div>
                <mat-divider style="width: 100%"></mat-divider>
                <div>pozostałe hasła</div>
            </div>
            <div fxLayout="column" fxLayoutAlign="start center">
                <mat-list fxLayout="row">
                    <mat-list-item *ngFor="let member of teams[whoNowPlays]" fxLayout="row" fxLayoutAlign="center center">
                        {{member}}
                    </mat-list-item>
                </mat-list>
                <mat-divider style="width: 100%"></mat-divider>
                <div>gracze tej tury </div>
            </div>
        </div>

        <div fxFlex="30" fxLayout="column" fxLayoutAlign="start center">
            <button mat-raised-button color="primary" class="generic-button" (click)="goToPreStart()"> Dalej </button>
        </div>
    </div>

    <div *ngIf="state == allStates.PRE_START" fxLayout="column" fxFlexFill>
        <div fxFlex="5" fxLayout="column" fxLayoutAlign="start center">
            <div class="timer">{{counter | formatTime}}</div>
        </div>
        <div fxFlex="95" fxLayout="column" fxLayoutAlign="center center">
            <button mat-raised-button color="primary" class="next-note" (click)="goToTurn()"> Rozpocznij rundę! </button>
        </div>
    </div>

    <div *ngIf="state == allStates.TURN" fxLayout="column" fxFlexFill>
        <div fxFlex="5" fxLayout="column" fxLayoutAlign="start center">
            <div class="timer" [class.timer-red]="counter <= 5">{{counter | formatTime}}</div>
        </div>
        <div *ngIf="stateInTurn == inTurnAllStates.CARD_VIEW" fxFlex="95" fxLayout="column" fxFlexFill>
            <div fxFlex="75" fxLayout="column" fxLayoutAlign="center center">
                <div id="card">
                    {{currentCard | uppercase}}
                </div>
            </div>
            <div fxFlex="20" fxLayout="row" fxLayoutAlign="space-between start">
                <button mat-raised-button color="primary" id="messed-card" (click)="messedCardDoubleClick()" fxLayout="column" fxLayoutAlign="center center" >
                    <mat-icon fxFlexFill class="decision-icon" fontIcon="clear"></mat-icon>
                </button>
                <button mat-raised-button color="primary" id="guessed-card" (click)="guessedCardDoubleClick()" fxLayout="column" fxLayoutAlign="center center" > 
                    <mat-icon fxFlexFill class="decision-icon" fontIcon="check"></mat-icon>
                </button>
            </div>
        </div>
        <div *ngIf="stateInTurn == inTurnAllStates.EMPTY_VIEW" fxFlex="95" fxLayout="column" fxLayoutAlign="center center">
            <button mat-raised-button color="primary" (click)="nextCard()" class="next-note"> Pokaż hasło </button>
        </div>
    </div>

    <div *ngIf="state == allStates.AFTER_TURN" fxLayout="column" fxFlexFill>
        <div fxFlex="70" fxLayout="column" fxLayoutAlign="space-evenly center">
            <div>
                {{"Koniec tury"}}
            </div>
            <div *ngIf="notesLeftInRound.length == 0">
                {{"Wszystkie hasła zgadnięte"}}
            </div>
            <div fxLayout="column" fxLayoutAlign="start center">
                <div>{{inTurnScore}} </div>
                <mat-divider style="width: 100%"></mat-divider>
                <div>zgadnięte hasła w turze</div>
            </div>
        </div>

        <div fxFlex="30" fxLayout="column" fxLayoutAlign="start center">
            <button mat-raised-button color="primary" class="generic-button" (click)="goToNewTurnOrNewRound()"> Dalej </button>
        </div>
    </div>

    <div *ngIf="state == allStates.AFTER_ROUND" fxLayout="column" fxFlexFill>
        <div fxFlex="70" fxLayout="column" fxFlexFill fxLayoutAlign="space-evenly center">
            <div fxFlex="20" class="end-round-label">
                {{"Koniec rundy " + currentRound}}
            </div>

            <div class="score-holder" fxFlex="75" fxLayout="row" fxFlexFill fxLayoutAlign="space-evenly start">
                <div fxFlex="50" fxLayout="column" fxLayoutAlign="center center">
                    <div>{{"+" + pointsInRound[0]}}</div>
                    <div class="main-score">{{totalPoints[0]}}</div> 
                    <mat-list>
                        <mat-list-item *ngFor="let member of teams[0]" fxLayout="row" fxLayoutAlign="center center">
                            {{member}}
                        </mat-list-item>
                    </mat-list>
                </div>
                <div class="main-score dots">{{" : "}}</div>
                <div fxFlex="50" fxLayout="column" fxLayoutAlign="center center">
                    <div>{{"+" + pointsInRound[1]}}</div>
                    <div class="main-score">{{totalPoints[1]}}</div>
                    <mat-list>
                        <mat-list-item *ngFor="let member of teams[1]" fxLayout="row" fxLayoutAlign="center center">
                            {{member}}
                        </mat-list-item>
                    </mat-list>
                </div>
            </div>
        </div>
        
        <div fxFlex="30" fxLayout="column" fxLayoutAlign="start center">
            <button mat-raised-button color="primary" class="generic-button" (click)="goToBeforeTurnOrAfterGame()"> Dalej </button>
        </div>
    </div>

    <div *ngIf="state == allStates.AFTER_GAME" fxLayout="column" fxFlexFill>
        <div fxFlex="70" fxLayout="column" fxFlexFill fxLayoutAlign="space-evenly center">
            <div fxFlex="20" class="end-round-label">
                {{"Koniec gry!"}}
            </div>

            <div class="score-holder" fxFlex="75" fxLayout="row" fxFlexFill fxLayoutAlign="space-evenly start">
                <div fxFlex="50" fxLayout="column" fxLayoutAlign="center center" [class.winner]="totalPoints[0] > totalPoints[1]">
                    <div class="main-score">{{totalPoints[0]}}</div> 
                    <mat-list>
                        <mat-list-item *ngFor="let member of teams[0]" fxLayout="row" fxLayoutAlign="center center">
                            {{member}}
                        </mat-list-item>
                    </mat-list>
                </div>
                <div class="main-score">{{" : "}}</div>
                <div fxFlex="50" fxLayout="column" fxLayoutAlign="center center" [class.winner]="totalPoints[0] < totalPoints[1]">
                    <div class="main-score">{{totalPoints[1]}}</div>
                    <mat-list>
                        <mat-list-item *ngFor="let member of teams[1]" fxLayout="row" fxLayoutAlign="center center">
                            {{member}}
                        </mat-list-item>
                    </mat-list>
                </div>
            </div>
        </div>

        <div fxFlex="30" fxLayout="column" fxLayoutAlign="start center">
            <button mat-raised-button color="primary" class="generic-button" (click)="goToMain()"> Ekran główny </button>
        </div>
    </div>