#guessed-card {
    background-color: #32CD32;
}

#messed-card {
    background-color: #dc143ce3;
}

.timer {
    font-size: 25px;
}

#card {
    font-size: 35px; 
    text-align: center; 
    overflow-wrap: anywhere;
    white-space: pre-line;
}