<div fxLayout="column" fxFlexFill>
    <div fxLayout="row" fxLayoutAlign="end center" >
        <mat-slide-toggle [checked]="isDark" (change)="themeSwitched($event)" > 
            <mat-icon *ngIf="isDark" fontIcon="nightlight_round" fxLayout="column" fxLayoutAlign="center center"></mat-icon>
            <mat-icon *ngIf="!isDark" fontIcon="wb_sunny" fxLayout="column" fxLayoutAlign="center center"></mat-icon>
        </mat-slide-toggle>
    </div>
    <div fxLayout="column" fxFlexFill fxLayoutAlign="center center">
        <button mat-raised-button color="primary" class="generic-button" (click)="checkIfCanPlay()">Graj</button>
    </div>
</div>
